# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Data
data/raw/
data/interim/
data/processed/

# Models and outputs
models/
outputs/

# Keep folder structure if needed
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep
!outputs/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Logs
*.log